:root {
    --vdm: hsl(300, 43%, 22%);
    --sp: hsl(333, 80%, 67%);
    --dgm: hsl(303, 10%, 53%);
    --lgm: hsl(300, 24%, 96%);
    --w: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    padding: 75px 0;
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
}

header {
    width: 90%;
    margin: auto;
    padding: 0 5px 25px;
}

#title {
    color: var(--vdm);
    text-align: center;
    
}

main {
    width: 90%;
    margin: auto;
}

#introduction {
    color: var(--dgm);
    text-align: center;
    line-height: 1.5;
}

#ratings {
    margin-top: 45px;
}

.rating-block {
    background-color: var(--lgm);
    height: 75px;
    margin: 15px 0;
    padding: 15px;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rating {
    color: var(--vdm);
    font-weight: 600
}

#reviews {
    margin-top: 45px;
}

.review-block {
    background-color: var(--vdm);
    height: 250px;
    margin: 15px 0;
    padding: 30px;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.reviewer-details {
    display: flex;
    align-items: center;
}

.avatar-div {
    width: 50px;
    display: flex;
    align-items: center;
}

.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.name-div {
    margin-left:25px; 
}

.username {
    color: var(--w);
    font-weight: 700;
    margin-bottom: 5px;
}

.verified {
    color: var(--sp);
    font-weight: 500;
}

.review-text {
    color: var(--w);
    line-height: 1.5;
}



@media only screen and (min-width:1440px) {
body {
    padding: 125px 0 100px;
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
}

header {
    width: 75%;
    margin: auto;
    padding: 0 5px 25px;
}

#title {
    color: var(--vdm);
    text-align: left;
    float: left;
    display: inline-block;
    width: 500px;
    font-size: 50px;
    
}

main {
    width: 75%;
    margin: auto;
}

#introduction {
    color: var(--dgm);
    text-align: center;
    line-height: 1.5;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    width: 500px;
}

#ratings {
    margin-top: 45px;
    float: left;
}

.rating-block {
    background-color: var(--lgm);
    height: 75px;
    margin: 15px 0;
    padding: 15px;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rating {
    color: var(--vdm);
    font-weight: 600
}

#reviews {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 300px;
    clear: both;
}

.review-block {
    background-color: var(--vdm);
    width: 32%;
    height: 250px;
    margin: 15px 0;
    padding: 30px;
    border-radius: 7.5px;
    position: absolute; 
}

.review-block:nth-child(1) {
    top: 0;
    left: 0;
}
.review-block:nth-child(2) {
    top: 18px;
    left: 34%;
}
.review-block:nth-child(3) {
    top: 36px;
    right: 0;
}

.reviewer-details {
    display: flex;
    align-items: center;
}

.avatar-div {
    width: 50px;
    display: flex;
    align-items: center;
}

.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.name-div {
    margin-left:25px; 
}

.username {
    color: var(--w);
    font-weight: 700;
    margin-bottom: 5px;
}

.verified {
    color: var(--sp);
    font-weight: 500;
}

.review-text {
    color: var(--w);
    line-height: 1.5;
}   
}